
.circle {
	border-radius:50%;
	width:45px;
	margin-right:10px;
}


/* INDICADOR ABAS */
.tabs .tab-indicator {
    background-color: #fff;
}

/* TODAS AS ABAS */
.tabs .tab-items .tab-item {
    color: #c1c1c1;
	background-color:#0084e7;
	font-weight:bold;
}
.tabs .tab-items a.tab-item:active, .tabs .tab-items a.tab-item:hover, .tabs .tab-items a.ativo {
    color: #fff;
}
.chamadas span.title, .conversas span.title, .contatos span.title  {
	font-weight:bold;
	display:block;
}
.hora {
	font-size:9px;
	text-transform:uppercase;
}

/* CONVERSAS */
.conversas .hora {
	color:green;
}
.conversas li.item-expanded .msg-nao-lido, #conversas .msg-nao-lido, #conversas span.ativo {
	font-size:12px;
	color:#fff;
	background-color:green;
	/*border:2px solid #fff;*/
	border-radius:50%;
	padding:0px 5px;
	display:inline;
	text-align:center;
}
#conversas .msg-nao-lido {
	background-color:#f1f1f1;
	color:#c1c1c1;
}


/* links - remover cores padrão */
.conversas .item-content a {
	color:#000;
}


/* fix para resolver posicionamento */
.conversas li.item-expanded .msg-nao-lido {
	display:table;
	width:17px;
}
.conversas li.item-expanded .icon-sound-off {
	margin-top:17px;
	margin-right:5px;
}

/* CONTATOS */
.contatos li.item-expanded a:first-of-type {
	font-size:10px;
	color:gray;
	text-transform:uppercase;
}




/* PRIVADO */
.area-texto, .area-texto li {
	background-color:#fff;
	color:#000;
	padding:0px;
	margin:0px;
}
.conversa {
	background-color:#f1f1f1;
}
.conversa p {
	padding:5px 5px;
	background-color:#ff9900;
	color:#000;
	display:inline-table;
}
/* eu */
.conversa .text-right p {
	background-color:#ff5;
}
/* meu contato */
.conversa .text-left p {
	background-color:#fff;
}
.conversa div {
	/*background-color:red;*/
}
.conversa .hora {
	color:gray;
	display:block;
}

footer table {
	width:100%;
	background-color:none !important;
	border:0px;
}

footer {
	position:fixed;
	/*background-color:red;*/
	padding:10px;
	right:0px;
	bottom:0px;
	width:100%;
}

.header-bar .circle, .grupo .circle {
	margin-top:5px;
	width:40px;
}




/* LISTAS */
.listas ul, .listas ul li {
	list-style:none;
	padding-left:0px;
	margin-left:0px;
}
.listas .item-expanded {
	margin:40px 0px;
}

/* ICONES */
.icon-search:before {
  content: url('../img/icones/search.png');
}
.icon-sound-off:before {
  content: url('../img/icones/sound-off.png');
}
.icon-telephone:before {
  content: url('../img/icones/telephone.png');
}
.icon-arrow-gain:before {
  content: url('../img/icones/arrow-gain.png');
}
.icon-arrow-lost:before {
  content: url('../img/icones/arrow-lost.png');
}
.icon-emoji:before {
  content: url('../img/icones/emoji.png');
}
